/*
+ Browsing Page
- Below small breakpoint there should just be one column for the grid, which 
  means one card would be shown in the grid.

- Above the small breakpoint, create two columns, one for the sidebar and 
  the other one for the main content
*/
.browsing-page {
	display: grid;
	grid-template-columns: auto;
	height: 100%;
	@apply tw-bg-gray-950;
}

/* On smaller and beyond we give space for our sidebar */
@media screen and (min-width: 600px) {
	.browsing-page {
		grid-template-columns: auto 1fr;
	}
}

/* 
- At the lowest or smallest screen we have a minimum of 250px columns
  and one card per row. However, as we reach higher screens, we'll add 
  more cards to the rows.
*/
.card-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(250px, 1fr));
	@apply tw-gap-4 tw-py-2 sm:tw-grid-cols-2 lg:tw-grid-cols-3 xl:tw-grid-cols-4;
}
