/*
- Things to fix:
4. Also when we resize to smaller screens, it automatically shows our sidebar 
  first. Obviously we can still close it, but it's somewhat annoying.
*/

/*
+ Browsing Page
- Below small breakpoint there should just be one column for the grid, which 
  means one card would be shown in the grid.

- Above the small breakpoint, create two columns, one for the sidebar and 
  the other one for the main content
*/
.browsing-page {
	display: grid;
	grid-template-columns: auto;
	height: 100%;
}
@media screen and (min-width: 640px) {
	.browsing-page {
		grid-template-columns: auto 1fr;
	}
}

/*
+ Sidebar
- On smaller screens: Make this position fixed that fills entire screen and a grid. 
  This is to make things responsive and allow the user to hide or show the sidebar 
  via a button now. (640px and below)

- On small breakpoint and higher, we make it a flex box and now our sidebar should be in 
  the normal page flow. It should be a sticky sidebar off to the left of the main content.

  NOTE: You have to define a height for sticky to work, so we did 
  height: 100vh for above the small breakpoint. Know that doing height: 100vh
  as a default style will make the sidebar look weird below the small breakpoint.
*/
.browsing-sidebar {
	background-color: var(--bg-primary-dark);
	position: fixed;
	inset: 0;
	z-index: 10;
	padding: 1.5em 1em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	overflow-y: scroll;
	color: white;
	@apply tw-gap-y-2 sm:tw-sticky sm:tw-top-0 sm:tw-flex sm:tw-h-screen sm:tw-flex-col;
}

.toggle-sidebar-btn {
	@apply tw-fixed tw-bottom-5 tw-right-5 tw-z-20 tw-rounded-full tw-bg-white tw-p-3 sm:tw-hidden;
}

.sidebar-section-title {
	@apply tw-mb-2 tw-text-xl tw-font-bold;
}

.sidebar-tab {
	@apply tw-mb-1 tw-flex tw-cursor-pointer tw-items-center tw-justify-start tw-gap-x-2 tw-font-medium;
}
.sidebar-tab-icon {
	border: 2px solid black;
	@apply tw-flex tw-items-center tw-justify-center tw-rounded-lg tw-p-2 tw-transition-all;
}

.sidebar-tab:hover {
	.sidebar-tab-icon {
		@apply tw-bg-white tw-text-black;
	}
}

.sidebar-tab.active-tab .sidebar-tab-icon {
	@apply tw-bg-white tw-text-black;
}

.browsing-main {
	background-color: var(--bg-primary-dark);
	@apply tw-px-4 tw-text-white;
}

.search-title {
	@apply tw-mb-2 tw-text-4xl tw-font-medium;
}

.order-by-games {
	color: var(--bg-primary-dark);
	@apply tw-bg-white;
}

.game-drop-down button {
	@apply tw-flex tw-items-center tw-gap-x-1 tw-rounded-md tw-bg-white tw-px-4 tw-py-2 tw-text-black;
}

.game-drop-down .dropdown-item {
	@apply tw-flex tw-items-center tw-justify-between tw-transition-all;
}
.game-drop-down .dropdown-item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.browsing-main header {
	@apply tw-mb-2;
}

/* 
- At the lowest or smallest screen we have a minimum of 250px columns
  and one card per row. However, as we reach higher screens, we'll add 
  more cards to the rows.
*/
.card-grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(250px, 1fr));
	@apply tw-gap-4 tw-py-2 sm:tw-grid-cols-2 lg:tw-grid-cols-3 xl:tw-grid-cols-4;
}
