.game-image-section {
	flex-basis: 70%;
}

.game-details-sidebar {
	flex-basis: 30%;
	min-width: 300px;
	@apply tw-flex tw-flex-shrink-0 tw-flex-col-reverse tw-gap-y-4 md:tw-flex-col;
}

.game-info {
	color: rgb(204, 204, 204);
}

.game-info-top {
	max-height: 300px;
	background: linear-gradient(
		90deg,
		rgba(26, 26, 26, 0) 0%,
		rgb(26, 26, 26) 100%
	);
	@apply tw-overflow-auto tw-rounded-t-lg tw-p-5 tw-leading-5;
}

/* 
- Make the collapsible section a grid. Then when it's open
  we make the rows 1fr. Then make the flow div, our div that 
  wraps the content of our collapsible section, overflow hidden.
*/
.game-info-bottom {
	display: grid;
	grid-template-rows: 0fr;
	background: linear-gradient(
		90deg,
		rgba(38, 38, 38, 0) 0%,
		rgb(38, 38, 38) 100%
	);
	@apply tw-rounded-b-lg tw-p-5 tw-transition-all;
}

.game-info-bottom.open {
	grid-template-rows: 1fr;
}

.flow-div {
	@apply tw-overflow-hidden;
}
