/*
- Stylings for the game card itself: Let the width be 
  determined by the grid column's sizes, but for the height, we want
  all cards to have the same height so we'll have a fixed height for that


*/
/* 
- We want the cards to take 100% of their column defined by the 
  grid. However, the min-height of the cards will be 300px, except in the case
  where the content, the title in this case, is longer. In that case the cards
  with the longer title will be taller. 

  NOTE: With this not all of the cards will be the same uniform height, but 
  at least the content will be comfortably visible.

*/
.game-card {
	width: 100%;
	height: minmax(300px, auto);
	background-color: var(--bg-secondary-dark);
	@apply tw-flex tw-cursor-pointer tw-flex-col tw-overflow-hidden tw-rounded-lg tw-text-white tw-transition-all;
}
.game-card:hover {
	scale: 1.05;
}

.card-img-container {
	/* Set a height for all image containers, and
    then have images fill dimensions 100% */
	height: 50%;
}
.card-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-body {
	@apply tw-flex tw-flex-col tw-px-4 tw-py-2;
}

.card-body .header-info {
	@apply tw-mb-4 tw-flex tw-items-center tw-justify-between tw-text-slate-400;
}

.add-cart-btn {
	@apply tw-rounded-md tw-bg-slate-800 tw-px-6 tw-py-2;
}

.platform-icon-list {
	@apply tw-flex tw-gap-x-3;
}

.card-title {
	@apply tw-mt-auto tw-text-xl;
}
