@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page {
	background-image: url("../assets/images/night_background.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	@apply tw-flex tw-min-h-screen tw-flex-col tw-items-center tw-justify-center tw-text-center tw-text-white;
}
