.search-form {
	display: flex;
	flex: auto;
	border-radius: var(--border-radius);
	overflow: hidden;
	min-width: 200px;
}

.search-form input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
