@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: GT Walsheim Pro;
	src:
		local("GT Walsheim Pro Regular"),
		local("GTWalsheimProRegular"),
		url("./assets/fonts/GTWalsheimPro/GTWalsheimProRegular.woff2")
			format("woff2"),
		url("./assets/fonts/GTWalsheimPro/GTWalsheimProRegular.woff") format("woff"),
		url("./assets/fonts/GTWalsheimPro/GTWalsheimProRegular.ttf")
			format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: GT Walsheim Pro;
	src:
		local("GT Walsheim Pro Bold"),
		local("GTWalsheimProBold"),
		url(GTWalsheimProBold.woff2) format("woff2"),
		url("./assets/fonts/GTWalsheimPro/GTWalsheimProBold.woff") format("woff"),
		url("./assets/fonts/GTWalsheimPro/GTWalsheimProBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

:root {
	font-family:
		GT Walsheim Pro,
		Inter,
		system-ui,
		Avenir,
		Helvetica,
		Arial,
		sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--bg-primary-dark: #0f1011;
	--bg-secondary-dark: #111827;

	--border-radius: 6px;
	--transition: all 200ms ease-in-out;
}

a {
	text-decoration: underline;
}
nav a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #a493a9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background-color: var(--primary-dark);
}

*::-webkit-scrollbar-thumb {
	background-color: #a493a9;
	border-radius: 10px;
	border: 3px solid #ffffff;
}

body {
	font-family: var(--font-family);
}

.position-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
