@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--bg-primary-dark: #0f1011;
	--bg-secondary-dark: #111827;

	--border-radius: 6px;
	--transition: all 200ms ease-in-out;
}

a {
	text-decoration: inherit;
}

a:hover {
	text-decoration: underline;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #a493a9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background-color: var(--primary-dark);
}

*::-webkit-scrollbar-thumb {
	background-color: #a493a9;
	border-radius: 10px;
	border: 3px solid #ffffff;
}
